@media screen and (max-width: 960px) {
  .sidebar {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contents {
    background: #fff;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
