.users-contents {
  position: fixed;
  top: 55px;
  width: 100%;
}

.activity-title {
  position: relative;
  height: 55px;
  width: 100%;
  background: #ccc;
}
.activity {
  width: 100%;

  display: flex;
  justify-content: start;
  // header + title + footer
  max-height: calc(100% - 160px);
  position: fixed;
}

.sidebar {
  display: flex;
  flex: 0 0 240px;
  flex-direction: column;
  max-width: 240px;
  overflow-y: scroll;
  overflow-x: hidden;

  .users {
    height: 100%;
    .item {
      margin-bottom: 5px;
    }
  }
}

.contents {
  margin: 10px;
  flex-basis: calc(100% - 240px);
  max-height: calc(100% - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
}

