<div class="users-contents">
  <section class="activity-title">タイトル</section>
  <div class="activity">
    <section class="sidebar">
      <div class="users">
        <div class="item" *ngFor="let user of users | async">
          <a routerLink="/users/{{user.id}}" (click)="showDetail($event, user)">{{user.name}}</a>
        </div>
      </div>
    </section>
    <section class="contents" *ngIf="id">
      <div class="detail">
        <app-user [id]="id"></app-user>
      </div>
    </section>
  </div>
</div>
