.header {
  height: 55px;
  background: coral;
  position: fixed;
  width: 100%;
}

.footer {
  height: 50px;
  background: coral;
  position: fixed;
  width: 100%;
  bottom: -10px;
}

.contents {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 55px;
  width: 100%;
  min-height: calc(100% - 105px);
}
