<div *ngIf="user$ | async as user">
  <div>
    {{user.id}}
  </div>
  <div>
    {{user.name}}
  </div>
  <div>
    きょうもいちにちよろしくおねがいいたしたててまつるしょぞんでございます<br>
    今日も<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    今日も<br>
    今日も<br>
    今日も<br>
    今日も<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    今日も<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    今日も<br>
    今日も<br>
    今日も<br>
    今日も<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
    げんきに<br>
    一日<br>
    がんばる<br>
    ぞぞぞ<br>
    おおい<br>
    ユーザの<br>
  </div>
</div>
